body {
    max-width: 100%;
}

.text-bg {
    color: #FFF;
    width: 100%;
    height: 50px;
    background-color: #0d6efd;
    align-items: center;
    
}

.banner {
    position: relative;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 600px;
    background-image: url(../../img/banner-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Cor preta com 50% de opacidade */
    z-index: 2;
}

.banner h1,
.banner h4 {
    color: #FFF;
}

.container {
    max-width: 100%;
    overflow-x: auto;
}

.eventos-linha {
    display: inline-flex;

}

.eventos-linha .card {
    margin: 0 20px;

}

.imgVisualizar {
    width: 650px;
    height: 350px;
}

.imgListar {
    width: 250px;
    height: 150px;
}

.nome-header a {
    text-decoration: none !important;
    color: inherit;
}

.nome-header:hover {
    text-decoration: none;
    color: inherit;
}

header {
    border-bottom: #0d6efd solid 7px;
}

footer {
    border-top: #0d6efd solid 5px;
}

.img-profile {
    width: 35px;
    border-radius: 100%;
}

.img-visualizar{
    
}

.perfil-avatar img {
    width: 100px;
    border-radius: 100%;
}

.perfil-info p {
    margin: 0;
}

.evento-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    max-width: 90%;
    border-radius: 8px;
}

.evento-imagem img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evento-info p {
    margin: 0;
    line-height: 1.4;
}

#btn-logout {
    width: 700px !important;
    margin: 100px;
}

a .nome-header {
    text-decoration: none;
}

.card-img {
    height: 170px;
}

.card-listar {
    margin: 0 auto;
}